.container{
    margin-top: 15px;
}
.head{
    background-image: url("/public/img/backg.png");
}

.item{
    display:inline-block;
    width: 350px;
    height: 400px;

    border: 1px solid #eeffee;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #fcfcfc;
    padding: 10px;
    border-radius: 5px;

}

.item img{

    width: 330px;
    height: 280px;
}

.item .code,
.item .cat{
    display: inline-block;
    color:#333;
    width: 48px;
    margin-top:5px;
}

.item .price{
    color: rgb(20,85, 160);
    font-size: 16px;
    font-weight: bold;
}

.item .desc{
    display: block;
}

.item button{
    float: right;
}

.item:hover{
    border:1px solid rgb(20, 85,160);
    box-shadow: -2px 3px 3px #aaa;

}
.selected{
    border:1px solid red;
    width: 600px;
    height: 500px;
}
.selected img{
    width:580px;
    height: 380px;
}

modalImg{
    width:100px;
    height:600px;
}
